.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    background: #101f54 url('/LinesBackground.png') no-repeat center;
}